@model Analytics.Models.Analytics

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Analytics Results</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.max)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.max)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.min)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.avg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.avg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sum)
        </dd>
    </dl>
</div>

